<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Service Taxi Flevoland{% endblock %}</title>
        {% stylesheets
        '@AppBundle/Resources/public/vendor/bootstrap/dist/css/bootstrap.css'
        '@AppBundle/Resources/public/vendor/components-font-awesome/css/font-awesome.css'
        '@AppBundle/Resources/public/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css'
        '@AppBundle/Resources/public/css/style.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% image '@AppBundle/Resources/public/images/favicon.ico' %}
        <link rel="icon" type="image/x-icon" href="{{ asset_url }}" />
        {% endimage %}
    </head>
    <body>
        {% include 'AppBundle:menu:menu.html.twig' %}
        {% if carousel is defined and carousel == true %}
            {% include 'AppBundle:components:carousel.html.twig' %}
        {% endif %}
        <div class="body-container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {% javascripts
            '@AppBundle/Resources/public/vendor/jquery/dist/jquery.js'
            '@AppBundle/Resources/public/vendor/bootstrap/dist/js/bootstrap.js'
            '@AppBundle/Resources/public/vendor/moment/min/moment-with-locales.js'
            '@AppBundle/Resources/public/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'%}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        <script type="text/javascript">
          $(function () {
            $('#datetimepicker').datetimepicker({
              locale: 'nl',
              minDate: new Date()
            });
          });
        </script>
    </body>
</html>
