<p>
    {{ 'general.call'|trans }}  <a href="tel:+31321340402">0321 – 34 04 02</a> {{ 'general.or_send_mail'|trans }} <a href="mailto:info@servicetaxiflevoland.nl">info@servicetaxiflevoland.nl</a>
</p>