<div class="social-wrapper">

    <div class="col-xs-6 facebook">
        <a href="https://www.facebook.com/ServiceTaxiFlevoland" target="_blank" class="icon-wrapper xl">
            <i class="icon fa fa-facebook" aria-hidden="true"></i>
        </a>
    </div>

    <div class="col-xs-6 insta">
        <a href="https://www.instagram.com/servicetaxiflevoland" target="_blank" class="icon-wrapper xl">
            <i class="icon fa fa-instagram" aria-hidden="true"></i>
        </a>
    </div>
</div>