$green: #008D88;
$blue: #3694DE;
$blue-alt: #5eabe8;
$blue-dark: #303744;
$blue-light: #83dbff;
$white: white;
$black: black;

body {
  background-color: $blue-dark;
}

label, h1 {
  color: $blue;
}

.btn-default {
  color: $white;
  background-color: $blue;
  border-color: $black;
}

.navbar-default {
  background: $blue;
  border-color: $blue;
  margin-bottom: 0 !important;

  .nav-text {
    color: $white;
  }

  .navbar-brand {
    img {
      width: 22px;
      position: absolute;
      top: 8px;
    }
  }

  .navbar-toggle {
    background-color: $white;

    .icon-bar {
      background-color: $blue;
    }
  }

  .dropdown {
    &.open {
      a:focus, a:active, a:hover{
        background-color: $blue-alt;
      }
    }
  }

  .dropdown-toggle {
    .flag {
      margin-left: 5px;
      width: 25px;
    }
  }

  .dropdown-menu {
    background-color: $blue;

    a:hover, a:active{
      background-color: $blue-alt;
    }

    .nav-text {
      color: $white;
    }

    .flag {
      width: 15px;
    }
  }
}

.carousel-inner {
  max-height: 300px;

  .item {
    img {
      width: 100%;
    }
  }
}

.body-container {
  color: $white;
  max-width: 1005px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.phone-link-container {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;

  a, a:hover, a:visited, a:link, a:active {
    color: $blue;
    text-decoration: none;
  }
}

.main-text {
  margin-bottom: 30px;
}

.main-text-block {
  margin-bottom: 20px;
  .icon-wrapper {
    color: $blue-dark;
    border-radius: 100%;
    border: solid $blue 5px;
    padding: 8px;
    background: $blue;
    width: 50px;
    margin: 0 auto;
    margin-bottom: -10px;
    .icon {
      font-size: 20px;
    }
  }
  .text {
    h2 {
      color: $blue;
    }
    ul {
      padding: 0;
      list-style: none;
    }
  }
}

.form {
  color: $black;
  margin-bottom: 50px;
}

.container {
  width: 100% !important;
  .row {
    .col-xs-12 {
      padding: 0;
    }
  }
}

@media screen and (max-width: 500px) {
  .phone-link-container {
    font-size: 30px;
  }
}